<div class="place-items-center">
    <div class="w-[1110px] h-[80px] bg-white border border-gray-200 flex items-center justify-between  rounded p-8">
<div class="flex items-center">
    <img src="/assets/desktop/icon-search.svg" alt="">
    <input type="text" class="w-[300px] h-[40px] border-none outline-none pl-4 border-s-4" placeholder="Search for a country..."> 
</div>
<div class="flex items-center">
    <img src="/assets/desktop/icon-location.svg" alt="">
    <input type="text" class="w-[300px] h-[40px] border-none outline-none pl-4 border-s-4" placeholder="Filter by region...">
</div>
<div class="flex justify-between items-center w-[300px]">
    <input type="checkbox" id="theme-toggle" class="w-[20px] h-[20px]">
    <h1 class="font-bold">Full Time Only</h1>
    <button class="w-[123px] h-[48px] text-white bg-violet-600 rounded">Search</button>
</div>
</div>
</div>