<div class="header ">
    <div>
        <img src="/assets/desktop/logo.svg" alt="" class="w-32 absolute top-8 left-[13rem] right-0"/>
    <div class="theme-switcher top-8  right-[13rem]" (click)="toggleMode()">
    <img src="/assets/desktop/icon-sun.svg" alt="">
    <label class="flex">
      <input type="checkbox" id="theme-toggle">
      <span class="slider"></span>
    </label>
    <img src="/assets/desktop/icon-moon.svg" alt="" class="w-[20px]">
  </div>  
    </div>
    <app-inputs></app-inputs>
</div>


 
