/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --light-grey: #f4f6f8;
    --violet: #5964E0;
    --light-violet: #939BF4;
    --very-dark-blue: #19202D;
    --midnight: #121721;
    --white: #fff;
    --gray: #9daec2;
    --dark-grey: #6e8098;
}

[data-theme="dark"] {
    --light-grey: #121721;
    --violet: #5964E0;    
    --light-violet: #939BF4;
    --very-dark-blue: #19202D;
    --midnight: #121721;
    --white: #fff;
    --gray: #9daec2;
    --dark-grey: #6e8098;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'kumbh sans', sans-serif;
}

body{
    background-color: var(--light-grey);
}
